# Created by .ignore support plugin (hsz.mobi)
.gitignore
*.class
.idea/
*.log
.target/
*.xml
target/classes/JooqORM/
target/classes/SHAstockList.csv
target/classes/SZAstockList.csv
target/classes/dataEngineer/
target/generated-sources/
